<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-title text-align="center">
        About
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-list>
          <ion-item>
            <strong>App Name: </strong> Weather
          </ion-item>
          <ion-item>
            <strong>Description: </strong> Simple weather app
          </ion-item>
        </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>