<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-title>
        About
      </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-list>
          <ion-item>
            <strong>App Name: </strong> iWeather
          </ion-item>
          <ion-item>
            <strong>Description: </strong>iWeather is a simple weather app. You can change your location in the settings. After pressing the button and refreshing the home page
            You will see the weather and the location from your new location. The converter is for people from different countries. The degree number on the home page is displayed in Celcius. 
            The converter simply shows you the degree number in Fahrenheit. 

          </ion-item>
          <ion-item>
            <strong>Version: </strong> 1.0
          </ion-item>
        </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>
