<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- REFACTORING: adjusted page content -->
  <ion-card Description>
    <ion-card-content>
      <ion-card-title>Weather in Latitute: {{location?.lat}} and Lontigute: {{location?.lng}}</ion-card-title>
      <ion-item>
        <h1>The weather at the moment: {{temperature}} °C with {{description}}</h1>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card Overview>
    <ion-card-content>
      <ion-item>
        <h2>Humidity: {{humidity}} </h2>
      </ion-item>
      <ion-item>
        <h2>Pressure: {{pressure}} </h2>
      </ion-item>
      <ion-item>
        <h2>Overall cloud percentage: {{clouds}} </h2>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <div #Map class="map"></div>
</ion-content>