<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Celsius/Fahrenheit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>Celsius {{celsius | number : '1.1-1'}} &#176;C</ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="celsius" min="-50" max="50" step="1" snaps (ionChange)="celsius_changed()">
        <ion-icon slot="start" name="thermometer"></ion-icon>
        <ion-icon slot="end" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-list-header>Fahrenheit {{fahrenheit| number : '1.1-1'}} &#176;F</ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="fahrenheit" min="-58" max="122" step="1" snaps (ionChange)="fahrenheit_changed()">
        <ion-icon slot="start" name="thermometer"></ion-icon>
        <ion-icon slot="end" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>


<ion-content>
  <ion-toolbar color="primary">
    <ion-title>Change Location</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-list>
        <ion-card (ngSubmit)="saveForm()">
          <ion-item>
            <ion-label>
              Latitute:
            </ion-label>
            <ion-input [(ngModel)]="lat" name="lat" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Longitute:
            </ion-label>
            <ion-input [(ngModel)]="lng" name="lng" type="number" step="0.00001"></ion-input>
          </ion-item>
          <ion-button color="primary" type="submit" expand="block" (click)="saveForm()">Save Changes</ion-button>
        </ion-card>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>

